[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
torch = "*"
sentence-transformers = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
